* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

@keyframes closeOpening {
  0% {
    transform: translateY(0);
  }

  90% {
    opacity: 0;
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.opening {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  
  animation: closeOpening 0.5s 1.5s ease forwards;
}

@keyframes rotateLogo {
  0% {
    transform: rotateY(180deg)
  }

  50% {
    transform: rotateY(0);
  }

  75% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
  }
}

.opening img {
  animation: rotateLogo 0.5s 1s linear forwards;
}

.app {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 80px;
  grid-template-areas: 
  'section header'
  'section main'
  'section footer';
  width: 100vw;
  min-height: 100vh;  
}

.app > button {
  all: unset;
  display: none;
  position: absolute;
  top: 35px;
  left: 10px;
  border-radius: 99999px;
}

.app > button img {
  height: 28px;
}

header {
  grid-area: header;
  background-color: #242526;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8257E5;
  font-size: 2rem;
}

main {
  grid-area: main;
  background-color: #272727;
  box-shadow: 0 0 1px 0 #c6c6c6;
}

main h2 {
  color: #8257E5;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.successGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  overflow: hidden;
  height: 210px;
  margin: 0 10px;
  gap: 15px;
  place-items: center;
  border-bottom: 1px solid #c6c6c6;
}

@keyframes delaySection {
  0% {
    position: static;
  }
  100% {
    position: fixed;
  }
}

section {
  grid-area: section;
  width: 200px;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 1px 0 #c6c6c6;
  background-color: #2c2c2c;
  animation: delaySection 0.5s 1.3s linear forwards;
}

@keyframes delayDiv {
  0% {
    position: static;
  }
  100% {
    position: relative;
  }
}

section > div {
  height: 100%;
  animation: delayDiv 0.5s 1.3s linear forwards;
}

section > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

section > div > div > .felipeImported {
  align-self: start;
  display: flex;
  align-items: center;
  gap: 10px;
}

.felipeImported h2 {
  font-size: 1rem;
}

section > div > div img {
  width: 32px;
  border-radius: 99999px;
}

section > div > div h2 {
  color: #c6c6c6;
  font-size: 1.5rem;
  line-height: 140%;
}

section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

section ul li {
  box-shadow: 0 2px 0 0 #8257E5;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

section ul li[data-active] {
  box-shadow: 0 0 0 2px #8257E5;
  background-color: #8257E5;
}

section ul li:hover, section ul li:focus {
  background-color: #8257E5;
  box-shadow: 0 0 0 2px #8257E5;
  transition: box-shadow 0.2s ease;
}

section ul li:active {
  background-color: #242526;
  box-shadow: 0 0 0 2px #242526;
}

section ul li a {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #c6c6c6;
  font-size: 1rem;
  line-height: 160%;
  text-decoration: none;
}

section ul li a:hover {
  color: #fff;
}

@keyframes delayLogOut {
  0% {
    position: static;
  }
  100% {
    position: absolute;
  }
}

.logOut {
  text-decoration: none;
  animation: delayLogOut 0.5s 1.3s linear forwards;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: #fff;
  box-shadow: 0 0 0 2px #c6c6c6;
  border-radius: 4px;
  cursor: pointer;
}

.logOut:focus, .logOut:hover {
  box-shadow: 0 0 0 2px #DB4437;
}

.logOut img {
  width: 24px;
}

.logOutBG {
  width: 180px;
  height: 45px;
  position: fixed;
  left: 10px;
  z-index: -1;
}

@keyframes bgMovement {
  0% {
    background-color: #DB4437;
    width: 0px;
  }

  100% {
    background-color: #DB4437;
    width: 180px;
  }
}

.logOut:focus .logOutBG {
  animation: bgMovement 1s ease forwards;
}

footer {
  grid-area: footer;
  background-color: #242526;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (max-width: 450px) {
  @keyframes bgMovement {
    0% {
      background-color: #DB4437;
      width: 0px;
    }
  
    100% {
      background-color: #DB4437;
      width: 130px;
    }
  }
  
  .app {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header'
    'main'
    'footer';
  }

  @keyframes openMenu {
    0% {
      left: -200px;
    }

    100% {
      left: 0px;
    }
  }

  .app > button {
    display: block;
    left: -200px;
    animation: openMenu 0.5s 1.7s ease forwards;
  }

  section {
    width: 150px;
    height: 100%;
    position: fixed;
    left: -200px;
    animation: none;
  }

  section:hover {
    left: 0;
  }

  .felipeImported h2 {
    font-size: 0.865rem;
  }
  
  .app > button:focus ~ section {
    animation: openMenu 0.5s ease-in forwards;
  }
}
